.navbar-default {
	border-radius: 0;
	border-color: $gray-lighter;
	margin-bottom: 0;

	.navbar-collapse {
		padding: 0;
	}

	.navbar-nav {

		> li {

			> a {
				text-transform: uppercase;
				font-weight: 400;
			}
		}
	}
}

.dropdown-menu {
	padding: 0;
	background: $brand-info;

	> li {

		> a {
			text-transform: uppercase;
			padding-top: 6px;
			padding-bottom: 6px;
			color: #fff;

			&:hover {
				background: lighten($brand-info,15%);
				color: #fff;
			}
		}
	}
}
