// Edit desktop nav however you'd like ============================
// ================================================================

.navbar-default {
	@include border-radius(0);
	border-color: $gray-lighter;
	margin-bottom: 0;

	.navbar-collapse {
		padding: 0;
	}

	.navbar-nav {

		> li {

			> a {
				text-transform: uppercase;
				font-weight: 400;
			}
		}
	}
}

.dropdown-menu {
	padding: 0;
	background: $brand-info;

	> li {

		> a {
			text-transform: uppercase;
			padding-top: 6px;
			padding-bottom: 6px;
			color: #fff;

			&:hover {
				background: lighten($brand-info,15%);
				color: #fff;
			}
		}
	}

	.divider {
		margin: 0;
		background: $gray-light;
	}
}

.mobile-toggle {
	display: none;

	@include max-width($grid-float-breakpoint-max) {
		display: block;
		margin-left: 30px;
		font-size: 30px;
		background: transparent;
		border: none;
		line-height: 46px;
		vertical-align: middle;
		outline: none;
	}
}

// These are the styles for the off canvas mobile nav
// I commented where to edit the background color, leave the rest as-is ====
// =========================================================================
*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.st-content {
	background: #fff;
}

.st-content,
.st-content-inner {
	position: relative;
}

.st-container {
	position: relative;
	overflow: hidden;
}

.st-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.4);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: $brand-info; // background of off-canvas sidebar
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.st-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */
// Feel free to edit as much as you'd like in this section ===========
// ===================================================================

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.st-menu h2 {
	margin: 0;
	padding: 1em;
	color: $brand-info;
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.st-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.st-menu {

	.dropdown.open {

		> a {
			background: rgba(#000,.5);
		}
	}

	.dropdown-menu {
		> li {

			> a {
				padding-top: 10px !important;
				padding-bottom: 10px !important;
				background: rgba(#000,.5);
			}
		}		
	}
}

// DO NOT EDIT the following =================================
// ===========================================================

/* Individual effects */

/* Effect 4: Slide along */
.st-effect-4.st-menu-open .st-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.st-effect-4.st-menu {
	z-index: 1;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.st-effect-4.st-menu-open .st-effect-4.st-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-4.st-menu::after {
	display: none;
}